<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on

    #RewriteCond %{HTTPS} !=on
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # DYNAMIC FORM
    RewriteCond %{QUERY_STRING} ^dynamic=(.*)$
    RewriteRule ^(.*)$ %1 [L]

    # ACCEPTABLE
    #RewriteCond %{REQUEST_URI} ^/(bower_components|elements|mixins|vendors|themes|helpers|fonts)/
    #RewriteRule ^(.*)$ cores/$1 [L,NC]

    #RewriteCond %{HTTP_HOST} ^wssales\.ws\.io$
    #RewriteRule ^wssales(/(.*))? http://wssales-portal.ws.io/$2 [P,L]
    #RewriteRule ^wssales/(.*)$ http://wssales-portal.ws.io/$1  [L]

    #RewriteCond %{REQUEST_URI} /(bower_components|elements|mixins|vendors|themes|helpers|fonts)/
    #RewriteCond %{REQUEST_URI} !/(cores)/
    #RewriteRule ^([^/]+)/(.*)$ /cores/$2 [L,R=301]

    RewriteCond %{REQUEST_URI} !(43L3il6czKoDpheHqv0lyHwVZy3GbGslWKrke5MFdGE|X5EIdRgZ3IYeBXmud38jE4lwcpFcbYR60B199KXPT7o)$
    RewriteRule ^([^/]+)/(.*)$ $1/ [L,NC]

    RewriteCond %{REQUEST_URI} !\.(html|gif|jpg|jpeg|png|css|js|ttf|woff2?|svg|eot|map|json|ico|mp3|ogg|otf)$
    RewriteRule ^([^/]+)/(.*)$ $1/ [L,NC]
    #RewriteRule ^$ /demo [L]
</IfModule>