<link rel="import" href="../../../../../cores/elements/kct-view/kct-view.html">

<dom-module id="route-foo-page">
    <template>
        <style include="theme-helper">
            h3 {
                font-size: 20px;
                font-weight: 300;
            }
        </style>

        <div class="padding">
            <h3>Welcome to foo page</h3>
            <div class="m-t">
                <paper-button class="btn-primary" on-tap="__onBackTap">Back</paper-button>    
            </div>
        </div>

    </template>
    <script>
        class RouteFooPage extends KctView {
            static get is() {
                return 'route-foo-page';
            }

            __onBackTap() {
                this.set('route.path', '/components/routing');
            }
        }

        customElements.define(RouteFooPage.is, RouteFooPage);
    </script>
</dom-module>